@font-face {
    font-family: 'MinecraftRegular-Bmg3';
    src: url(fonts/MinecraftRegular-Bmg3.otf) format('opentype');
}

body {
    padding: 0;
    margin: 0;
    background-color: gray;
    background-image: url(homeimages/dirt\ bgimg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    padding: 30px 0 30px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    text-align: center;
    background-color: antiquewhite;
    background-image: url(homeimages/grassblock\ bgimg.png);
    background-size: contain;
}

.headerlink a {
    margin: 100px;
    font-size: 20px;
    font-family: "MinecraftRegular-Bmg3";    font-weight: 900;
    color: white;
    text-shadow: 3px 3px #000A; 
    text-decoration: none;
}

.headerlink a:hover {
    color: #FFFFA0;
}

.homeintro {
    display: flex;
    background-image: url(homeimages/minecraft\ home\ bgimg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    font-family: "MinecraftRegular-Bmg3";    
    text-align: center;
    height: 87vh;
    padding: 0;
}

.homeintro-text {
    margin: auto;
    text-align: center;
}

.homeintro-text h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;  
    margin: 0;
    width: 800px;
    height: 100px;
    text-shadow: 6px 6px #000A; 
}

.webintro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    height: 50vh;
}

.webintro h2 {
    width: 80%;
    color: black;
    text-align: center;
    font-size: 35px;
}

.webintro p {
    width: 80%;
    color: black;
    text-align: center;
    font-size: 20px;
}

.notebook-section {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 87vh;
    text-align: center;
}

.notebook-section h1 {
    padding: 0;
    margin-top: -20px;
    margin-bottom: 10px;
    text-shadow: 6px 6px #000A; 
    font-size: 50px;
}

.notebook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notebook h1 {
    width: 100%;
    background-color: antiquewhite;
}

/*Minecraft inventory bg*/
.notebook-left, .notebook-right {
    text-align: center;
    width: 50%;
    padding: 0 100px 0 100px;
}

.notebook-img, .calculator-img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.notebook-img {
    background-image: url(homeimages/book\ and\ quill\ homepg.png);
}

.notebook-img:hover {
    background-image: url(homeimages/book\ and\ quill\ hover.png);
}

.calculator-img {
    background-image: url(homeimages/calculator\ homepg.png);
}

.calculator-img:hover {
    background-image: url(homeimages/calculator\ hover.png);
}

.notebook-left h2, .notebook-right h2 {
    margin-bottom: 15px;
    text-shadow: 6px 6px #000A; 
}

h1, h2, p {
    font-family: "MinecraftRegular-Bmg3";
    color: white;
    text-decoration: none;
}

